.date_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A9CFD;
    font-weight: 700;
    padding: 12px;
}

.announcement_icon {
    height: 22px;
}

.dorm_select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: rgba(217, 217, 217, 0.00);
}

.announcement_content {
    font-size: 13px;
}