@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}

.announcement_title_container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 0 25px 0 16px;
    height: 49px;
    justify-content: space-between;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.announcement_title_container div {
    display: flex;
    align-items: center;
}

.announcement_search_icon {
    width: 23px;
    margin: 0 4px 0 5px;
    cursor: pointer;
}

.content_container {
    flex-grow: 1;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.date_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6A9CFD;
    font-weight: 700;
    padding: 12px;
}

.announcement_icon {
    height: 22px;
}

.dorm_select {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: rgba(217, 217, 217, 0.00);
    width: 90px;
    height: 30px;
    text-align: center;
}

.announcement_table_container {
    margin: 20px 0 0 0;
}

.announcement_pagination_modal {
    display: flex;
    align-content: center;
    padding-inline-start: 0;
}

.announcement_pagination_modal li {
    list-style-type: none;
}

.announcement_pagination_modal li .active {
    font-weight: 600 ;
    color: #6A9CFD;
}

.announcement_pagination_modal li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.previous, .pageNum {
    margin: 0 19px 0 0;
}

.announcement_paging_container {
    margin: 0;
    align-self: center;
    position: absolute;
    bottom: 2%;
}

.announcement_history_container {
    align-self: center;
}

.announcement_searchBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    padding: 0 16px;
    height: 48px;
}

.delete_btn {
    font-size: 7px;
    width: 14px;
    height: 13px;
    background: #A2A2A2;
    color: white;
    border-radius: 50%;
    margin: 0 10px 0 5px;
    padding: 0;
    cursor: pointer;
}

.announcement_searchBar_icon {
    width: 21px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.announcement_searchBar_container div {
    height: 32px;
    border-radius: 5px;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 0 4px 0 4px;
    width: 100%;
}

#exist1, #notExist2 {
    display: none;
}

.announcement_searchBar_field {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    border: none;
    background: none;
}

.announcement_searchBar_field:focus {
    outline: none;
}