.bottom_bar {
    position: sticky;
    bottom: 0;
}

.bottom_tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(183, 159, 159, 0.12);
}

.bottom_bar img {
    height: 36px;
}

.bottom_bar li {
    list-style: none;
    cursor: pointer;
}