.bottom_bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    background: #FFF;
    box-shadow: 0 0 6px 0 rgba(183, 159, 159, 0.12);
    margin: 0;
}

.bottom_bar_icon {
    height: 32px;
}

.community_icon {
    height: 34px;
}

.bottom_bar li {
    list-style: none;
}