@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body, #root{
    font-family: Pretendard, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.center_content_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    padding: 24px;
    min-width: 320px;
}

.content_container {
    flex-grow: 1;
    padding: 24px;
    min-width: 320px;
}

.title_container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 12px 8px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}