body, #root{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.content_container {
    flex-grow: 1;
    padding: 20px;
    min-width: 300px;
}

.title_container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}