@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}

.myPage_title_container {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

#myUnit, #myPosts, #myComments, #logout {
    width: 18px;
    height: 18px;
}

.myPage_icon {
    margin-right: 14px;
}

.myPage_list_container {
    margin-top: 30px;
    width: 150px;
}

.myPage_list_element, .myPage_list_element:focus {
    margin-bottom: 24px;
    cursor: pointer;
}

.myPage_list li {
    list-style-type: none;
}

.duksung_dorm_info {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.duksung_dorm_number {
    font-size: 17px;
    margin: 2px 0 0 0;
}

.gaon_dorm_addr {
    font-size: 12px;
    color: #8E8E8E;
    margin: 12px 0 0 0;
}

.international_dorm_addr {
    font-size: 12px;
    color: #8E8E8E;
    margin: 3px 0 0 0;
}

.myPage_footer {
    margin: 0 0 0 40px;
    position: absolute;
    bottom: 5%;
}