@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}

.myPenalty_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 6px 24px 6px 16px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    height: 36px;
}

.myPenalty_title_horizontal_container {
    display: flex;
    align-items: center;
}

.myPenalty_title_icon {
    margin-right: 8px;
    cursor: pointer;
}

.myPenalty_info_icon {
    height: 24px;
    cursor: pointer;
}

.myPenalty_body_container {
    padding: 24px 24px 0 24px;
}

.myPenalty_total_container {
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    font-weight: 500;
    color: #B3B3B3;
    align-items: center;
    margin: 0 0 25px 0;
}

.myPenalty_total_score {
    color: #6A9CFD;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 4px;
}