@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}

.noticeList_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    padding: 0 16px;
    height: 48px;
}

.noticeList_title_container div{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.noticeList_title_container img {
    margin: 0 8px 0 0;
    cursor: pointer;
}

.noticeList_search_icon {
    width: 23px;
    margin: 0 4px 0 5px;
    cursor: pointer;
}

.noticeList_range{
    width: 198px;
    height: 48px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    background-color: #F7F7F7;
    margin: 24px 0 20px 0;
}

.noticeList_range p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    width: 140px;
    text-align: center;
}

.noticeList_range_icon {
    margin: 0 10px 0 0;
    cursor: pointer;
}

.noticeList_table_container {
    align-self: center;
}

.pagination_modal {
    display: flex;
    align-content: center;
    padding-inline-start: 0;
}

.pagination_modal li {
    list-style-type: none;
}

.pagination_modal li .active {
    font-weight: 600 ;
    color: #6A9CFD;
}

.pagination_modal li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.previous, .pageNum {
    margin: 0 19px 0 0;
}

.paging_container {
    margin: 0;
    align-self: center;
    position: absolute;
    bottom: 5%;
}

.noticeList_searchBar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    padding: 0 16px;
    height: 48px;
}

.delete_btn {
    font-size: 7px;
    width: 14px;
    height: 13px;
    background: #A2A2A2;
    color: white;
    border-radius: 50%;
    margin: 0 10px 0 5px;
    padding: 0;
    cursor: pointer;
}

.noticeList_searchBar_icon {
    width: 21px;
    margin: 0 8px 0 0;
    cursor: pointer;
}

.noticeList_searchBar_container div {
    height: 32px;
    border-radius: 5px;
    background: #F7F7F7;
    display: flex;
    align-items: center;
    padding: 0 4px 0 4px;
    width: 100%;
}

#exist1, #notExist2 {
    display: none;
}

.noticeList_searchBar_field {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    border: none;
    background: none;
}

.noticeList_searchBar_field:focus {
    outline: none;
}

#rangePickerModal {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 20%;
    left: 50%;
}

.rdrDateInput input{
    margin: 0;
}