.content_container {
    position: relative;
}

hr {
    height: 1px;
    background: #E6E6E6;
    width: 100%;
}

.functionBtn {
    margin-left: auto;
    padding: 0 0 0 5px;
}

.post-details img {
    width: 16px;
}

.delivery-blue-text {
    color: #6A9CFD;
    font-weight: 600;
}

.delivery-gray-text {
    color: #8E8E8E;
}

.post-recruitment {
    padding: 3px 5px;
}

.recruitment-info {
    display: flex;
    flex-direction: column;
}

#postview-full-content {
    font-size: 12px;
}

#profileImage {
    width: 20px;
    height: 24px;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #E6E6E6;
}

#upperInfo {
    display: flex;
    align-items: center;
}

#nameAndTime {
    padding: 3px;
}

#userName {
    font-size: 14px;
}

#post-time {
    color: #8E8E8E;
    font-size: 10px;
    font-weight: 400;
}

#postComment {
    flex-grow: 1;
}

#post-content {
    font-size: 12px;
}

#commentForm {
    display: flex;
    align-items: center;
    height: 28px;
    padding: 10px 8px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.05);
}

#comment-input {
    border-radius: 5px;
    background: #F7F7F7;
    border: none;
    padding: 10px 14px;
    margin: 2px;
    height: 12px;
}

#comment-input::placeholder {
    font-family: Pretendard serif;
    font-size: 12px;
    color: #8E8E8E;
    font-weight: 700;
}

.comment_btn {
    width: 12px;
}

.post-small-modal {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.20);
    position: absolute;
    right: 4%;
    top: 3%;
}

.post-small-modal div {
    width: 90px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: 8px 0 0 0;
    padding: 0 0 7px 0;
}

#post_share_btn {
    border-bottom: 0.2px solid #B3B3B3;
}