@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}

.repairHistory_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 0 25px 0 16px;
    height: 49px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.repairHistory_title_container img {
    cursor: pointer;
}

.repairHistory_table_container {
    margin-top: 28px;
    align-self: center;
}

.pagination_modal {
    display: flex;
    align-content: center;
    padding-inline-start: 0;
}

.pagination_modal li {
    list-style-type: none;
}

.pagination_modal li .active {
    font-weight: 600 ;
    color: #6A9CFD;
}

.pagination_modal li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.previous, .pageNum {
    margin: 0 19px 0 0;
}

.paging_container {
    margin: 48px 0 0 0;
    align-self: center;
}

.repairHistory_title_img {
    height: 25px;
}

.repairHistory_title {
    display: flex;
    align-items: center;
}