input {
    border: none;
    border-bottom: solid #A2A2A2 1px;
    margin-bottom: 20px;
    width: 342px;
    padding: 4px;
}

input::placeholder{
    color: #E6E6E6;
    font-size: 15px;
}

p {
    font-size: 15px;
    margin: 10px 0px;
}

a {
    text-decoration: none;
    color: #6A9CFD;
    font-size: 12px;
}

.signInBtn {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 18px;
    border: none;
    background-color: #6A9CFD;
    color: white;
    font-size: 16px;
}