@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {
    font-family: Pretendard, serif;
}
.calendar {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.react-calendar {
    width: 95%;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: fit-content;
    margin: 0 0 20px 0;
}

.react-calendar__navigation button {
    min-width: 5px;
    background: none;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.stayout_calendar .react-calendar__navigation button:enabled:hover,
.stayout_calendar .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    font-size: 11px;
    color: #6A9CFD;
}

.react-calendar__month-view__days__day {
    font-size: 11px;
    color: #616161;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    height: 40px;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.stayout_calendar .react-calendar__tile:enabled:hover {
    background-color: #e6e6e6;
}

.stayout_calendar .react-calendar__tile:enabled:focus {
    background-color: #6A9CFD;
    color: white;
    border-radius: 6px;
}

.react-calendar__tile--now {
    font-weight: bold;
    color: #FF6D4D;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    color: #FF6D4D;
}

.stayout_calendar .react-calendar__tile--hasActive {
    background: #76baff;
}

.stayout_calendar .react-calendar__tile--hasActive:enabled:hover,
.stayout_calendar .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.stayout_calendar .react-calendar__tile--range {
    background: #f8f8fa;
    color: #6A9CFD;
    border-radius: 0;
}

.stayout_calendar .react-calendar__tile--rangeEnd {
    border-radius: 0 6px 6px 0 !important;
    background: #6A9CFD;
    color: white;
}

.stayout_calendar .react-calendar__tile--rangeStart {
    border-radius: 6px 0 0 6px !important;
    background: #6A9CFD;
    color: white;
}

.input_text1 {
    width: 85px;
    height: 18px;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 17px 0 10px;
    text-align: center;
    background-color: white;
    color: #000000;
}

.input_text2 {
    width: 85px;
    height: 18px;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 0 0 10px;
    text-align: center;
    background-color: white;
    color: #000000;
}

.range_container{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.calculate_day {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.range_field {
    font-size: 12px;
    width: 20px;
    height: 18px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px 0 10px;
    background-color: white;
    color: #000000;
}

abbr[title="토요일"], abbr[title="일요일"] {
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    color: #6A9CFD;
    margin-bottom: 12px;
}

abbr[title="월요일"], abbr[title="화요일"], abbr[title="수요일"], abbr[title="목요일"], abbr[title="금요일"] {
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    color: #616161;
}

.title_icon {
    cursor: pointer;
    margin: 0 8px 0 0;
}

.edit_btn {
    background-color: white;
    border: none;
}

.stayout_addr_container {
    width: 250px;
    height: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 0 5px 10px;
    text-align: center;
    background-color: white;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.stayout_addr_horizontal_container {
    width: 250px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stayout_zipcode_container {
    width: 190px;
    height: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: white;
    color: #000000;
}

.stayout_specAddr_container {
    width: 250px;
    height: 25px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 0 0 54px;
    text-align: center;
    background-color: white;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.stayout_reason_container {
    width: 294px;
    height: 66px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin: 0 0 0 10px;
    text-align: center;
    background-color: white;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.stayout_specAddr_field:focus, .stayout_reason_field:focus, .stayout_addr_field:focus, .stayout_zipcode_field:focus {
    outline: none;
}

.stayout_specAddr_field, .stayout_reason_field , .stayout_addr_field, .stayout_zipcode_field{
    font-size: 13px;
    margin: 0;
    width: 96%;
    padding: 4px;
    border: none;
    overflow-y: scroll;
    resize: none;
}

.react-calendar__month-view__weekdays__weekday, .react-calendar__month-view__weekdays__weekday--weekend {
    margin-bottom: 12px;
}

.react-calendar__navigation__label {
    width: 100px;
    height: 30px;
    background-color: #000000 !important;
    color: white;
    flex-grow: unset !important;
    border-radius: 5px;
}

.react-calendar__navigation {
    justify-content: center;
    align-items: center;
}

.stayout_form {
    min-width: 85%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.stayout_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 7px 24px 12px 16px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.stayout_title_left_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search_addr_btn {
    border: none;
    background: none;
    margin: 0 0 5px 0;
    font-size: 12px;
    font-weight: 700;
    color: #6A9CFD;
    cursor: pointer;
}

.stayout_range_description {
    align-self: center;
    margin: 20px 0;
    font-size: 15px;
    font-weight: 600;
    color: #6A9CFD;
}

.navigationLabel {
    font-size: 11px;
}

.stayout_input_container {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin: 5px 0 0 0;
}

.stayout_input_container2 {
    display: flex;
    font-size: 12px;
    align-items: center;
}

.stayout_input_container p {
    font-size: 12px;
    align-self: flex-start;
    margin-block: 0;
    line-height: normal;
}

.recent_selection_container {
    margin: 0 0 9px 10px;
}

.user_recent_selection {
    font-size: 12px;
    color: #616161;
    margin: 0 0 0 6px;
}

.stayout_round_checkbox {
    width: 14px;
    height: 14px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    margin: 0 0 0 auto;
    padding: 0 0 3px 3px;
}

.stayout_round_checkbox::before {
    content: '\2713'; /* 체크 모양 아이콘 (유니코드) */
    font-size: 12px;
    color: white;
}

.stayout_round_checkbox:checked {
    background-color: #6A9CFD;
}

.stayout_reason_input_container{
    max-width: 100%;
    height: 100%;
    padding: 24px;
}

.stayout_reason_input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    resize: none;
    border: none;
}

.stayout_reason_input:focus{
    outline: none;
}

.stayout_calendar {
    display: flex;
    justify-content: center;
}

.stayout_drag_container {
    padding: 28px 26px;
    width: 85%;
    height: 800px;
    align-self: center;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: -770px;
    background: white;
}

.stayout_scroll_tab {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 50px;
    cursor: pointer;
}

.stayout_scroll_vertical_container {
    font-size: 10px;
    color: #B3B3B3;
}

.stayout_day_left {
    font-size: 16px;
    color: #6A9CFD;
    font-weight: 600;
    text-align: right;
}

.stayout_history_list_container {
    width: 100%;
    height: 84%;
    overflow-y: scroll;
}

.stayout_history_list_container::-webkit-scrollbar, .stayout_reason_field::-webkit-scrollbar{
    display: none;
}

.stayout_final_modal {
    margin: 20px;
    width: 220px;
}

.stayout_final_modal_title {
    color: #6A9CFD;
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 9px 5px;
}

.stayout_final_modal_content {
    color: #666666;
    font-size: 12px;
    margin: 3px 0;
}

.stayout_setShowRule_container {
    display: flex;
    align-items: center;
    margin: 13px 0 19px 10px;
}

.checkbox {
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 5px 0 0;
    accent-color: #6A9CFD;
    color: white;
    border: 1px solid #8E8E8E;
}

.stayout_setShowRule_container span {
    font-size: 10px;
    color: #8E8E8E;
}

.stayout_final_modal_btn_container {
    display: flex;
    justify-content: center;
}

.range_modal_container {
    padding: 27px 26px 25px 26px;
    width: 194px;
    height: fit-content;
}

.range_modal_container span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    height: 52px;
    margin: 0 0 10px 0;
}

.range_modal_btn_container {
    display: flex;
    justify-content: space-between;
}

.stayout_modal_container {
    font-size: 13px;
    text-align: center;
    width: 194px;
    height: fit-content;
    padding: 45px 27px 26px 27px;
}

.stayout_modal_btn_container{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

hr {
    width: 95% !important;
}

.stayout_content_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    margin: 0px auto 90px auto;
    min-width: 320px;
    max-width: 500px;
    overflow: auto;
    width: 87%;
}

#blank_div {
    height: 90px;
}