.unit_today_record_container, .unit_record_container {
    width: 95%;
    margin: 0 auto;
}

.unit_date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: unset;
    font-weight: normal;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 13px;
}

.done_and_confirm {
    margin-top: 27px;
    display: flex;
}

.status {
    margin-left: 27px;
}

.unit_record_container {
    margin-top: 25px;
}

.unit_record_title_container {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 5px;
}

.btn_container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-end;
}

.stayout_calendar {
    display: flex;
    justify-content: center;
}

.year_and_month {
    font-size: 16px;
    width: 95%;
    margin: 19px auto 13px;
}

.unit_today_date {
    font-size: 11px;
}

.move_icon {
    width: 20px;
    height: 20px;
}

.today_record_container {
    border-radius: 10px;
    border: 1px solid #6A9CFD;
    padding: 16px;
}

.user_info {
    margin-left: 17px;
    font-size: 16px;
}

.user_cleaning_time {
    font-size: 11px;
    margin-top: 5px;
    margin-left: 17px;
}

.unit_done {
    margin-right: 27px;
    flex-grow: 1;
}

.unit_confirm {
    flex-grow: 1;
}

.unit_record_title {
    font-size: 18px;
}

.weekly_schedule {
    margin-top: 19px;
    margin-bottom: 13px;
}

.unit_weekly_calendar {
    height: 63px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.unit_weekly_calendar__weekdays__weekday {
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0;
}

.unit_weekly_calendar__weekdays {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 9px;
    padding-top: 10px;
}

.unit_weekly_calendar__weekdays__weekday .unit_abbr {
    font-size: 9px;
    text-decoration: none;
    color: #A2A2A2;
}

.unit_weekly_calendar__weekdays__num {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 0;
    padding-top: 3px;
    padding-bottom: 18px;
    height: 10px;
    color: #A2A2A2;
}

.unit_weekly_calendar__weekdays__weekday__num {
    flex: 0 0 14.2857%;
    margin-inline-end: 0;
}

.unit_weekly_calendar__weekdays__weekday__num abbr {
    font-size: 10px;
    height: 10px;
    color: black;
    align-content: center;
    text-decoration: none;
}

.unit_weekly_calendar__weekdays__exist {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 0;
    padding-top: 8px;
}

.unit_weekly_calendar__weekdays__weekday__exist {
    flex: 0 0 14.2857%;
    overflow: hidden;
    margin-inline-end: 0;
}

.unit_weekly_calendar__weekdays__exist .exist span{
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #FF6D4D;
    border-radius: 50%;
    visibility: visible;
}

.unit_weekly_calendar__weekdays__exist .gone span{
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #FF6D4D;
    border-radius: 50%;
    visibility: hidden;
}

abbr {
    font-size: 10px;
}

.today abbr{
    color: #6A9CFD;
}

.unit_modal_container {
    font-size: 13px;
    text-align: center;
    width: 194px;
    height: fit-content;
    padding: 45px 27px 26px 27px;
}

.unit_modal_btn_container {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}