.upper_bar {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.03);
}

.upper_bar img {
    cursor: pointer;
}

.upper_bar_logo {
    height: 20px;
    margin-right: auto;
}

.upper_bar_icon {
    height: 20px;
    margin-left: 20px;
}

#community_search_icon {
    height: 25px;
}